@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}


.containerr {
    justify-content: center;
    display: flex;
}



.formmmm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
   
}

.form-headerr {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}



.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}


.input-groupp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-boxx {
    display: flex;
    flex-direction: column;
    
}

.input-boxx input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-boxx input:hover {
    background-color: #eeeeee75;
}

.input-boxx input:focus-visible {
    outline: 1px solid #040058;
}

.input-boxx label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-boxx input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.32rem;
    padding: 0 rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    justify-content: space-between;
    width: 30%;
    margin-top: 2.5rem;
    border: none;
    background-color: #040058;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}



.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}


