.page-consultar {

   


    

    .card-container {
        display: flex;
        
        margin-top: 50px;
        flex-direction: row;
    }

    



    .card {
        position: relative;
        display: flex;
        justify-content: space-between;
        
        align-items: center;

        box-shadow: 1px 2px 10px #e3e3e3;
        background-color: #fff;
        padding: 10px;
        width: 235px;
        height: 420px;
        border-radius: 5px;
        
        cursor: pointer;
        user-select: none;
    }
    .card > div {
        display: flex;
        flex-direction: column;
       
    }
    .card div {
        margin: 04px;
    }



    .card .acoes {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: -50px;
        padding: 20px;

        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .card:hover {
        transition: .1s;
        transform: scale(1.04);

        .acoes {
            visibility: visible;
            opacity: 1;
        }
    }

    .card .acoes > img {
        margin: 0px 5px;
        cursor: pointer;
    }



    .card .imgg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: 52px;
        border-radius: 18px;
        font: 600 22px 'Inter';
    }

    .card .nomee {
        font-size: 16px;
        font-weight: 500;
    }
    .card .precoo {
        margin-top: 5px;
        font-size: 22px;
        font-weight: 500;
    }
    .card .sobre {
        font: 500 16px 'Inter';
        color: #000000;
        margin-bottom: 8px;
    }
    .card .disponivel {
        font: 500 12px 'Inter';
        color: #000000;
    }

    .capas{
        width: 100%;
    }

    
    .comp-card{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }

   .b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
   }


}
