.comp-menu {
    position: fixed;
    z-index: 10;

    width: 320px;
    height: 100vh;
    padding-bottom: 50px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(to bottom right,
    rgb(1, 22, 22) 0%, rgb(0, 43, 107)40%, rgb(0, 43, 107) 60%, rgb(24, 22, 22) 100%);
    

    background-size: 200% 100%;
    animation: gradientEffect 3s linear infinite alternate;
}

@keyframes gradientEffect{
    from {background-position: 0 0;}
    to {background-position: 100% ;}    
}

    
    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        padding: 20px;

    }
    .logo img {
        width: 230px;
        margin: auto;
      

    }
    .logo div {
        font: 700 22px 'Inter';
        color: #E9E9E9;
        position: relative;
        
        
    }

    .menu-items {
        display: flex;
        flex-direction: column;

        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        
    
    }
    .menu-items > div {
        display: flex;
        align-items: center;
        
        padding: 30px 70px;
        font: 500 18px 'Inter';
        color: #fff;

        transition: .3s;
        cursor: pointer;
    }
    .menu-items > div:hover {
        background-color: rgb(7, 74, 173);
    }

    .menu-items > div img {
        width: 27px;
        margin-right: 30px;
    }
