.pagina-admin-consultar-produto {


    flex-direction: row;
    padding: 50px;
    width: 100%;


    background-color: #e4e4e4;


    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 230px;

        height: 100%;
    }

    table {
        border-collapse: collapse;

        thead {
            th {

                background-color: rgb(14, 0, 92);
                color: #fff;
                padding: 10px 15px;
                text-align: left;
            }
        }

        tbody {

            td {
                font-family: 'Goldman';
                font-weight: normal;

                align-items: center;
                text-align: center;
                height: 2em;

                background-color: #ffffff;

                img {
                    height: 1.5em;
                    padding: 0px 5px;
                }
            }
        }
    }

}