.pagina-admin-consultar-produto {
   display: flex;
   
   flex-direction: row;
   padding: 150px;
   width: 100%;
   height: 100vh;

   background-color: #e4e4e4;


    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 76em;
        height: 100%;
    }
    table{
        border-collapse: collapse;
      
        thead{
            th{
                
                background-color: rgb(14, 0, 92);
        color: #fff;
        padding: 10px 15px;
        text-align: left;
            }
        }

        tbody{

            td{
                font-family: 'Goldman';
                font-weight: normal;

                align-items: center;
                text-align: center;
                height: 2em;

                background-color: #ffffff;
                
                img{
                    height: 1.5em;
                    padding: 0px 5px;
                }
            }
        }
    }

}