.pagina-admin-produto {
    padding: 1.5em;
    display: flex;
    margin-left: 250px;
    background-color: aqua;
    
    
    .cat-conteiner {
        display: flex;
        flex-wrap: wrap;
    }


    .image-container {
        display: flex;
        
      
        margin-left: 250px;
    }
    
    .image-container input[type=file] {
        visibility: hidden;
    }
    
    

  

    .imagens {
        display: flex;
        flex-direction: row;
        justify-content: end;

        .opcoes {
            display: flex;
            flex-direction: column;
            margin: 30px;
            border: none 5px black;
            justify-content: end;

            img {
                width: 80px;
                margin: 10px;
            }
        }

        .atual img {
            max-width: 300px;
            width: 200%;
        }
    
    }


 
}