.pagina-admin-produto {
    padding: 1.5em;
    display: flex;

    
    .gpo-categoria {
        display: flex;
        width: 100%;
    }

    .btn-categoria {
        border-radius: 3px;
        padding: 10px 14px;
        margin-left: 6px;
    }

    .cat-conteiner {
        display: flex;
        flex-wrap: wrap;
    }

    .cat-selecionada {
        font-size: .7em;
        background-color: #672dc3;
        padding: .5em 1em;
        margin: .5em 5px;
        color: #fff;
        border-radius: 1em;
    }


    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
        margin-left: 30px;
    }
    .image-container img {
        margin:5px;
        width: 150px;
        cursor: pointer;
    }
    .image-container input[type=file] {
        visibility: hidden;
    }
    .image-container > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }
    .image-container > div span {
        cursor: pointer;
    }

    button {
        cursor: pointer;
    }

    .imagens {
        display: flex;
        flex-direction: row;
        align-items: center;

        .opcoes {
            display: flex;
            flex-direction: column;

            margin: 30px;

            img {
                width: 60px;
                margin: 10px;
            }
        }

        .atual img {
            max-width: 300px;
            width: 100%;
        }
    }


 
}