.tela-departamento{


.departa{
    justify-content: center;
    align-items: center;
    padding: 20px;

    .cont{
        display: flex;
        background-color: #D9D9D9;
        

        h1{
            text-align: center;
            

        }
    }
}

}